$main-color: #013d3b;
$secondary-color: #1a7c79;

$bgc-section-uneven-color: #ccc;
$bgc-section-even-color: #d9d9d9;

$gradient-main: linear-gradient(162.39deg, #013d3b 0%, #1a7c79 100%);

$color-footer: #444444;